@model myfinance_web_dotnet.Models.TransacaoModel 

@{
    ViewData["Title"] = "Criar Plano de Contas";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form asp-controller="PlanoConta" asp-action="Cadastrar" method="post">
        <input type="hidden" asp-for="Id" /><br>

        <label>Descricao</label><br>
        <input type="Text" asp-for="Historico"/><br>

        <br>
        <label>Tipo</label><br>
        <br><br>
        <button type="submit" class="btn btn-block btn-success">Registrar</button>
    </form>
</div>